.about-container {
    font-family: 'Oswald', sans-serif;

    .form-container {
        margin-top: 50rem;

        #contact {
			width: 542rem;
			height: 364rem;
			background: url(../images/form_bg.jpg) no-repeat 0 0;
			margin: 0 auto;
			padding: 15rem 25rem;
			box-sizing: border-box;

			h3 {
				margin: 15rem 0;
				font-size: 20rem;
			}

			fieldset {
				border: none;
				padding: 0;
				margin: 0;
			}

			.btn-wrapper {
				button:before {
					background: url(../images/117-512.png) no-repeat 50%;
					background-size: contain;
				}
			}
		}
    }
}