.form-container {

	#saveMovie {
		width: 44%;
		border: 3rem solid orange;
		padding: 25rem 15rem 15rem;
		margin: 80rem auto 0;
		border-radius: 4rem;
		background-color: #ffda97;

		#storyline {
			height: 100rem;
		}

		.flex-wrapper {
			display: flex;
			margin-bottom: 15rem;
			align-items: center;

			.addFiled {
				background: url(../images/add-button.png) no-repeat center;
				background-size: contain;
				border: none;
				cursor: pointer;
				height: 20rem;
				width: 20rem;
				padding: 0;
			}

			.fix-width {
				width: 18%;
			}

			#stars, #director, #title {
				flex-grow: 100;
			}

			#imdb, #duration, #years, #budget {
				width: 50rem;
				padding: 0 2rem 0 6rem;
				margin-left: 5rem;
			}

			#years {
				height: 100%;
				-webkit-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
				-moz-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
				-o-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
				transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
				outline: none;
				border: 1px solid #DDDDDD;
			}

			#years:focus {
				box-shadow: 0 0 5px #F7971E;
				border: 1px solid #F7971E;
			}

			input {
				margin-bottom: 0;
			}

			.selectCustom {
				border-radius: 4rem;

				input[type="checkbox"] {
					margin-right: 5rem;
				}
			}

			.selectCustom,
			#countryList,
			#genreList {
				width: 170rem;
			}

			.selectCustom:after,
			.selectCustom:before {
				left: 146px;
			}

			.flex-wrapper {
				margin-bottom: 0;
			}

		}

		.space-between {
			justify-content: space-between;
		}

		.rating-wrapper {
			display: flex;

			> div {
				display: flex;
			}

			> span {
				margin-right: 10rem;
			}

			label {
				margin-left: 35rem;
			}

			.rating {
				float: none !important;
				display: inline-block;
				cursor: pointer;

				.star {
					margin-left: 0;
				}
			}

			.text-rating {

				span {
					text-transform: uppercase;
					font-size: 10rem;
					color: #fff;
					background-color: #777777;
					padding: 2rem 7rem;
					margin-left: 12rem;
					border-radius: 3rem;
				}

				span.bad {
					background-color: #d9534f;
				}

				span.bored {
					background-color: #dc850b;
				}

				span.fine {
					background-color: #43aece;
				}

				span.good {
					background-color: #337ab7;
				}

				span.excellent {
					background-color: #5cb85c;
				}
			}
		}

		.btn-wrapper, .rating-wrapper, .custom-select-wrapper {
			margin-bottom: 15rem;
		}

		.btn-wrapper {
			height: 24rem;

			button {
				margin-top: 10rem!important;
			}

			button:before {
				background: url(../images/save.png) no-repeat 50%;
				background-size: contain;
			}

			input[type="file"] {
				display: none;
			}

			.upload {
				padding: 4rem 168rem !important;
				border-radius: 4rem;
			}
		}
	}
}