.no-movies-msg {
	text-align: center;
	font-size: 25rem;
	color: #ea8709;
	margin-top: 165rem;
}
.homepage-container {
	ul {
		list-style-type: none;
	}
	.images-container {
		width: 2184rem;
		height: 276rem;
		position: relative;
		overflow: hidden;
		img {
			margin: 0 5rem;
			opacity: .8;
			border: 4rem solid #d0d0d0;
		}

		img:hover {
			opacity: 1;
			border: 4rem solid #F7971E;
		}

		.first-slide {
			-webkit-animation: bannermove 30s linear infinite;
			-moz-animation: bannermove 30s linear infinite;
			-o-animation: bannermove 30s linear infinite;
			animation: bannermove 30s linear infinite;
		}

		@-moz-keyframes bannermove {
			0% {
				margin-left: 0;
			}
			100% {
				margin-left: -1440rem;
			}

		}

		@-webkit-keyframes bannermove {
			0% {
				margin-left: 0;
			}
			100% {
				margin-left: -1440rem;
			}

		}

		@-ms-keyframes bannermove {
			0% {
				margin-left: 0;
			}
			100% {
				margin-left: -1440rem;
			}

		}

		@-o-keyframes bannermove {
			0% {
				margin-left: 0;
			}
			100% {
				margin-left: -1440rem;
			}

		}
	}

	.images-container:hover .first-slide{
		animation-play-state: paused;
	}

	.gallery-container {
		.sort-container {
			font-size: 14rem;
			text-align: right;
			.sort-title {
				font-size: 18rem;
			}
			ul {
				display: inline-flex;
				margin: 0;
				padding-left: 10rem;
				.sort {
					height: 29rem;
					line-height: 27rem;
					width: 80rem;
					text-align: center;
					cursor: pointer;
					border-radius: 5rem;
					margin-right: 10rem;
				}
				.sort:last-child {
					margin-right: 0;
				}
				.sort.active, .sort.active:hover {
					background-color: #F7971E;
				}
				.sort:hover {
					background-color: #FFC540;
				}
			}
		}
		.gallery {
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			.movie-item {
				margin-top: 20rem;
				position: relative;
				margin-right: 8rem;
				.movie-link {
					text-decoration: none;
					display: inline-block;
					.title-wrapper {
						position: absolute;
						bottom: 0;
						width: 100%;
						background-color: #f7971e;
						opacity: .9;
						.movie-title {
							font-size: 14rem;
							text-align: center;
							color: #fff;
							margin: 10rem 0;
							text-shadow: 2rem 2rem #808080;
						}
					}
				}

				.movie-link:before, .movie-link:after {
					-webkit-transition: opacity 0.2s ease 0s;
					transition: opacity 0.2s ease 0s;
					z-index: 4;
				}

				.movie-link:before {
					content: "";
					background: rgba(0,0,0,0.6);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
				}

				.movie-link:hover:before, .movie-link:hover:after {
					opacity: 1;
				}

				.movie-link:after {
					content: "";
					width: 55rem;
					height: 55rem;
					background-image: url(../images/information-icon.png);
					background-size: cover;
					opacity: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -27.5rem;
					margin-left: -27.5rem;
					animation: pulse 1.5s linear infinite;
				}

				@-webkit-keyframes pulse {
					from, to { -webkit-transform: scale(.8); }
					50% { -webkit-transform: scale(1); }
				}

				@keyframes pulse {
					from, to { transform: scale(.8); }
					50% { transform: scale(1); }
				}

				.popup-container {
					position: absolute;
					opacity: 0;
					width:340rem;
					z-index: -1;
					box-shadow: 0 0 7rem rgba(0,0,0,.3);
					left: 190rem;
					top: 10rem;
					background-color: #f3f3f3;
					border-radius: 5rem;
					transition: opacity .5s, z-index .5s;
				}

				.popup-container p {
					margin: 0;
				}

				.popup-container:before {
					right: 100%;
					top: 20rem;
					border-style: solid;
					border-width: 7rem 7rem 7rem 0;
					width: 0;
					height: 0;
					border-color: transparent #d2691e;
					position: absolute;
					content: '';
				}

				.popup-header {
					margin: 0;
					background-color: #d2691e;
					padding: 10rem 12rem;
					color: #fff;
					font-size: 18rem;
					border-radius: 5rem 5rem 0 0;
					.rating, p {
						display: inline-block;
					}
					p {
						width: 190rem;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					.no-rating {
						width: auto;
						float: right;
						text-transform: uppercase;
						color: initial;
						letter-spacing: 2rem;
					}
				}

				.popup-body {
					font-size: 15rem;

					.gray-block {
						display: flex;
						justify-content: space-around;
						padding: 7rem 0;
						background-color: #C8C8C8;
						font-weight: bold;
						.imdb {
							background-color: #FED500;
							display: inline-block;
							padding: 0 5rem;
						}
					}

					.p-wrapper {
						padding: 0 15rem 10rem;
						span {
							color: #df7002;
						}
						.description {
							margin: 10rem 0 5rem;
						}
					}
				}

				.movie-link:hover + .popup-container {
					z-index: 10;
					opacity: 1;
				}
			}



			.movie-item:nth-of-type(5n), .movie-item:nth-of-type(5n-1) {
				.popup-container {
					left: -348rem;
				}

				.popup-container:before {
					border-width: 7rem 0 7rem 7rem;
					left:100%;
				}
			}

			.movie-item:nth-of-type(5n) {
				margin-right: 0;
			}
		}

		.filter-sort-container {
			padding-top: 15px;
			.filters-container {
				height: 310rem;
				width: 255rem;
				border: 3rem solid #fd8a17;
				border-radius: 3rem;
				background: #e4e4e4;
				font-size: 15rem;
				position: fixed;
				top: calc(~'50% - 200rem');
				left: 60px;
				box-shadow: 1rem 1rem 0 #df7002, 2rem 2rem 0 #df7002, 3rem 3rem 3rem rgba(0, 0, 0, 0.35);

				.close {
					position: absolute;
					color: #fff;
					border-radius: 50%;
					width: 21rem;
					height: 20rem;
					cursor: pointer;
					border: 0;
					outline: 0;
					font-size: 12rem;
					line-height: 16rem;
					background-color: #fd8a17;
					top: 7rem;
					left: 225rem;
				}

				.close:hover {
					background-color: red;
				}

				.filters-title {
					display: inline-block;
					font-size: 20rem;
					color: #fd8a17;
					margin: 10rem 0 0 20rem;
				}

				.filters-wrapper {
					margin-left: 20rem;
					> div {
						margin-top: 10rem;
						.block {
							display: block;
						}
					}
					.input-wrapper {
						margin-left: 20rem;
					}
				}
			}

			.filters-container-collapsed {
				font-size: 20rem;
				display: inline-block;
				float: left;
				.orange-link {
					margin-left: 5rem;
					color: #fd8a17;
					text-decoration: none;
					transition: font .5s;
				}

				.orange-link:hover {
					color: #df7002;
					font-size: 21rem;
				}

			}
		}

	}
}