.movie-wrapper {
	color: #757373;
	.info-wrapper {
		display: flex;

		.text-container {
			margin-left: 30rem;
			width: 100%;

			.text-info {
				padding: 0;
				margin-top: 0;
				list-style-type: none;

				li > span {
					display: inline-block;
					width: 10%;
					color: #fd8a17;
				}
			}
		}
	}
}