@font-face {
	font-family: 'simpsons';
	src: url('../fonts/Simpsonfont.ttf');
}
.not-found {
	font-family: simpsons, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	.text-wrapper {
		text-align: center;
		.donut {
			width: 170rem;
			-webkit-animation-name: spin;
			-webkit-animation-duration: 6s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			-moz-animation-name: spin;
			-moz-animation-duration: 6s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-timing-function: linear;

			animation-name: spin;
			animation-duration: 6s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		@-ms-keyframes spin {
			from { -ms-transform: rotate(0deg); }
			to { -ms-transform: rotate(360deg); }
		}
		@-moz-keyframes spin {
			from { -moz-transform: rotate(0deg); }
			to { -moz-transform: rotate(360deg); }
		}
		@-webkit-keyframes spin {
			from { -webkit-transform: rotate(0deg); }
			to { -webkit-transform: rotate(360deg); }
		}
		@keyframes spin {
			from {
				transform:rotate(0deg);
			}
			to {
				transform:rotate(360deg);
			}
		}
		p.error {
			font-size: 115rem;
			color: #f53838;
			line-height: 115rem;
		}
		span {
			font-size: 200rem;
		}
		.wrapper-404, .simpson {
			display: inline-block;
			vertical-align: middle;
		}
		.wrapper-404 {
			color: #f53838;
		}
		.page-not-found {
			font-size: 90rem;
		}
		.error-text {
			font-size: 50rem;
		}
		.page-not-found, .error-text, .error {
			margin: 0;
		}
	}
}