@import url(http://fonts.googleapis.com/css?family=Oswald);
@import "not-found";
@import "home";
@import "about";
@import "movie";
@import "add-movie";
@import "loader";

html {
	font-size: 1px;
	font-family: 'Oswald', sans-serif;
	height: 100%;
	margin: 0;
	body {
		background: #d5d5d5 url(../images/appBg.jpg) 50% 0 no-repeat;
		padding-top: 30rem;
		box-sizing: border-box;
		#app {
			height: 100%;
			font-size: 15rem;

			.main-container.scrolled {
				.arrow-up {
					display: inline-block;
					animation: spinArrow 3s;
				}
			}
			.main-container {
				position: relative;
				.arrow-up {
					display: none;
					cursor: pointer;
					position: fixed;
					bottom: 50rem;
					right: 150rem;
					img {
						width: 35rem;
					}
					img:hover {
						transform: scale(1.2);
					}
				}
			}

			.page-content {
				margin: 0 auto;
				width: 50%;
				overflow: hidden;
			}
			h1 {
				font-size: 30rem;
			}
			h1, h2, h3 {
				color: #fd8a17;
			}

			.rating {
				float: right;
				.star {
					background: url('../images/gray.png');
					display: inline-block;
					width: 22rem;
					height: 22rem;
					background-size: cover;
					margin-left: 3rem;
				}
				.star.yellow {
					background: url('../images/orangestar.png');
					background-size: cover;
				}

				.star.gold {
					background: url('../images/gold.png');
					background-size: cover;
				}
			}

			.form-container {

				input, textarea, button {
					font-family: 'Oswald', sans-serif;
					border-radius: 4rem;
				}

				input, textarea {
					font-size: 15rem;
				}

				input {
					margin-bottom: 15rem;
				}

				input:not([type="checkbox"]), textarea {
					box-sizing: border-box;
					width: 60%;
					-webkit-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
					-moz-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
					-o-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
					transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
					outline: none;
					border: 1px solid #DDDDDD;
					padding: 0 10rem;
				}

				input:focus, textarea:focus {
					box-shadow: 0 0 5px #F7971E;
					border: 1px solid #F7971E;
				}

				input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					letter-spacing: 0.7rem;
				}

				input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
					letter-spacing: 0.7rem;
				}

				input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
					letter-spacing: 0.7rem;
				}

				input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
					letter-spacing: 0.7rem;
				}

				textarea {
					width: 100%;
					height: 150rem;
					box-sizing: border-box;
				}
			}

			.btn-wrapper {
				text-align: center;

				button, label {
					background: #F7971E; /* fallback for old browsers */
					background: -webkit-linear-gradient(to bottom, #F7971E , #FFD200); /* Chrome 10-25, Safari 5.1-6 */
					background: linear-gradient(to bottom, #F7971E , #FFD200); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					border: none;
					cursor: pointer;
					outline: none;
					width: 135rem;
					padding: 0;
					font-size: 12rem;
					height: 25rem;
					text-transform: uppercase;
					letter-spacing: 0.3rem;
					color: #fff;
					margin-top: 5rem;
					position: relative;
					overflow: hidden;
				}

				button:before {
					content: '';
					left: -100%;
					top: 0;
					position: absolute;
					height: 100%;
					width: 100%;
					transition: left .5s;
					line-height: 25rem;
				}

				button:hover:before {
					left: 0;
				}

				button:hover span {
					-webkit-transform: translateX(200%);
					-moz-transform: translateX(200%);
					-ms-transform: translateX(200%);
					transform: translateX(200%);
				}

				button span {
					display: inline-block;
					width: 100%;
					height: 100%;
					line-height: 25rem;
					-webkit-transition: all 0.3s;
					-webkit-backface-visibility: hidden;
					-moz-transition: all 0.3s;
					-moz-backface-visibility: hidden;
					transition: all 0.3s;
					backface-visibility: hidden;
				}
			}

			.selectCustom {
				font-size: 15rem;
				cursor: pointer;
				padding-left: 10rem;
				box-sizing: border-box;
				position: relative;
			}

			.selectCustom:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid #000;
				top: calc(~'50% - 2px');
				left: 188px;
			}

			.selectCustom:before {
				display: none;
			}

			.selectCustom.opened:after {
				display: none;
			}

			.selectCustom.opened:before {
				content: '';
				display: inline-block;
				position: absolute;
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid #000;
				top: calc(~'50% - 2px');
				left: 188px;
			}

			#genreListTitle.opened + .select, #countryListTitle.opened + .select {
				z-index: 100;
				visibility: visible;
				height: 240rem;
			}

			#genreList, #countryList {
				visibility: hidden;
				z-index: -100;
				height: 0;
				font-size: 13rem;
				list-style: none;
				padding: 0;
				overflow: auto;
				position: absolute;
				display: block;
				background-color: #fff;
				margin: 0;
				box-sizing: border-box;
				transition: visibility .1s, z-index .1s, height 1s;
			}

			.selectCustom, #genreList, #countryList {
				width: 210rem;
				border: 1px #999 solid;
			}

			.custom-select-wrapper {
				position: relative;
			}

			#cssmenu {
				display: flex;
				height: 55rem;
				align-items: center;
				width: 50%;
				margin: 0 auto 30rem;
				position: relative;
				border: 3rem solid #fd8a17;
				border-radius: 3rem;
				line-height: 1;
				background: #e4e4e4;
				box-shadow: 1rem 1rem 0 #df7002, 2rem 2rem 0 #df7002, 3rem 3rem 3rem rgba(0, 0, 0, 0.35);

				ul, ul li, ul li a {
					margin: 0;
					padding: 0;
					border: 0;
					list-style: none;
					line-height: 1;
					display: inline-block;
					position: relative;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}

				> ul {
					margin-left: 150rem;
					> li {
						float: left;
						padding: 0 25rem;
						> a {
							font-size: 14rem;
							text-transform: uppercase;
							text-decoration: none;
							color: #fd8a17;
							-webkit-transition: all .2s ease;
							-moz-transition: all .2s ease;
							-o-transition: all .2s ease;
							transition: all .2s ease;
						}
					}

					> li:hover > a,
					> li a.active {
						color: #444444;
					}

					> li > a:hover:before {
						width: 100%;
					}

					> li > a:before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						bottom: -6rem;
						height: 3rem;
						width: 0;
						background: #333333;
						-webkit-transition: width .25s;
						-moz-transition: width .25s;
						-o-transition: width .25s;
						transition: width .25s;
					}
				}

				.logo {
					position: absolute;
					left: -17rem;
					top: -23rem;
					a {
						display: inline-block;
						img {
							width: 180rem;
						}
					}
				}

				.search {
					flex-grow: 2;
					display: flex;
					flex-direction: row-reverse;
					height: 25rem;
					.search-form {
						margin-right: 25rem;
						input, .search-btn {
							border-radius: 4rem;
							font-family: 'Oswald', sans-serif;
						}

						input {
							height: 100%;
							box-sizing: border-box;
							width: 200rem;
							margin-right: 10rem;
							-webkit-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
							-moz-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
							-o-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
							transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
							outline: none;
							border: 1px solid #DDDDDD;
							padding: 0 10rem;
						}

						input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							letter-spacing: 0.7rem;
						}
						input::-moz-placeholder { /* Firefox 19+ */
							letter-spacing: 0.7rem;
						}
						input:-ms-input-placeholder { /* IE 10+ */
							letter-spacing: 0.7rem;
						}
						input:-moz-placeholder { /* Firefox 18- */
							letter-spacing: 0.7rem;
						}

						input:focus {
							box-shadow: 0 0 5px #F7971E;
							border: 1px solid #F7971E;
						}

						.search-btn {
							background: #F7971E; /* fallback for old browsers */
							background: -webkit-linear-gradient(to bottom, #F7971E , #FFD200); /* Chrome 10-25, Safari 5.1-6 */
							background: linear-gradient(to bottom, #F7971E , #FFD200); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
							border: none;
							cursor: pointer;
							outline: none;
							width: 70rem;
							height: 100%;
							padding: 0;
							font-size: 12rem;
							text-transform: uppercase;
							letter-spacing: 0.3rem;
							color: #fff;
							position: relative;
							overflow: hidden;
						}
						.search-btn:hover:before {
							left: 0;
						}
						.search-btn:before {
							content: '\1F50E';
							left: -100%;
							top: 0;
							position: absolute;
							height: 100%;
							width: 100%;
							transition: left .5s;
							line-height: 25rem;
						}
						.search-btn:hover span {
							-webkit-transform: translateX(200%);
							-moz-transform: translateX(200%);
							-ms-transform: translateX(200%);
							transform: translateX(200%);
						}
						.search-btn span {
							display: inline-block;
							width: 100%;
							height: 100%;
							line-height: 25rem;
							-webkit-transition: all 0.3s;
							-webkit-backface-visibility: hidden;
							-moz-transition: all 0.3s;
							-moz-backface-visibility: hidden;
							transition: all 0.3s;
							backface-visibility: hidden;
						}
					}
				}

			}

			#cssmenu:after,
			#cssmenu > ul:after {
				content: ".";
				display: block;
				clear: both;
				visibility: hidden;
				line-height: 0;
				height: 0;
			}
		}
	}
}

@-moz-keyframes spinArrow {
	0% {
		-moz-transform: scale(0.7) rotate(0deg);
	}
	50% {
		-moz-transform: scale(1.2) rotate(400deg);
	}
	100% {
		-moz-transform: scale(1) rotate(360deg);
	}
}

@-webkit-keyframes spinArrow {
	0% {
		-webkit-transform: scale(0.7) rotate(0deg);
	}
	80% {
		-webkit-transform: scale(1.2) rotate(400deg);
	}
	100% {
		-webkit-transform: scale(1) rotate(360deg);
	}
}

@keyframes spinArrow {
	0% {
		transform: scale(0.7) rotate(0deg);
	}
	50% {
		transform: scale(1.2) rotate(400deg);
	}
	100% {
		transform: scale(1) rotate(360deg);
	}
}

/*
#cssmenu.small-screen {
	width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
	width: 100%;
	text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
	float: none;
	display: block;
	border-top: 1rem solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
	padding: 18rem 25rem;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
	display: none;
}
#cssmenu.small-screen #menu-button {
	display: block;
	padding: 18rem 25rem;
	cursor: pointer;
	font-size: 14rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #fd8a17;
	background: url('http://cssmenumaker.com/sites/default/files/menu/406/bg.png');
}
#cssmenu.small-screen #menu-button.menu-opened {
	color: #444444;
}
#cssmenu.small-screen #menu-button:after {
	content: "";
	position: absolute;
	right: 25rem;
	top: 19.5rem;
	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-top: 2rem solid #fd8a17;
	border-bottom: 2rem solid #fd8a17;
	width: 18rem;
	height: 3rem;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
	border-top: 2rem solid #444444;
	border-bottom: 2rem solid #444444;
}
#cssmenu.small-screen #menu-button:before {
	content: "";
	position: absolute;
	right: 25rem;
	top: 29.5rem;
	display: block;
	width: 18rem;
	height: 2rem;
	background: #fd8a17;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
	background: #444444;
}
#cssmenu.small-screen #menu-indicator {
	display: none;
}*/
